@import 'assets/styles/general.css';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer base {
  * {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  :root {
    font-size: 16px;
    line-height: 1.25rem;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body {
    line-height: unset;
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: #414141;
    font-family: 'Noto Sans JP', 'Inter', Arial, sans-serif;
  }
}